---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":[null]}'
    headers:
      Authorization:
      - key=
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: The request was missing an Authentification Key (FCM Token). Please,
        refer to section "Authentification" of the FCM documentation, at https://firebase.google.com/docs/cloud-messaging/server.
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>The request was missing an Authentification Key (FCM Token). Please, refer to section &quot;Authentification&quot; of the FCM documentation, at https://firebase.google.com/docs/cloud-messaging/server.</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>The request was missing an Authentification Key (FCM Token). Please, refer to section &quot;Authentification&quot; of the FCM documentation, at https://firebase.google.com/docs/cloud-messaging/server.</H1>
        <H2>Error 401</H2>
        </BODY>
        </HTML>
  recorded_at: Sat, 26 Nov 2016 00:44:56 GMT
recorded_with: VCR 3.0.3
