.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}

.scroll-box {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
